@mixin desktop-breakpoint {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin full-WidhtHeight {
    width: 100%;
    height: 100%;
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-d($justify, $direction) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flex-justify($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-align($align) {
    display: flex;
    align-items: $align;

}

@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}