$primary-color: #FF0101;
$secondary-color: #FF0000;
$tertiary-color: #E60000;
$backgroundDark: #020203;
$backgroundLight: #FBFBFB;
$black: #000000;
$lightBlack: #20253A;
$white: #FFFFFF;
$lightGrey: #DEDEDE;
$lightDark: #282d30;
$grey: #74798c;



$font-size: 1rem;
$breakpoints : (desktop: 1440px,
    //desktop: 1024px,

);


//radius 
$main-radius: 25px;
$sec-radius: 10px;
$ter-radius: 5px;

//gap
$gap1: 139px;
$gap2: 113px;
$gap3: 76px;
$gap4: 50px;
$gap5: 30px;
$gap6: 20px;
$gap7: 10px;


//font_size
$f1-font-size: 48px;
$f2-font-size: 36px;
$f3-font-size: 24px;
$f4-font-size: 18px;
$f5-font-size: 14px;
$f6-font-size: 13px;
$f7-font-size: 12px;
$f8-font-size: 10px;

$f-size-error-mobile: 80px;
$f-size-error-desktop: 250px;

//font-weight

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;