.error {
    @include flex-align($align: center);
    flex-direction: column;
    gap: $gap2;
    text-align: center;
    margin: 100px auto;
    padding: 40px;


    @media screen and (max-width: 1024px) {
        margin: 15px auto;

    }

    &__title {
        font-size: $f1-size-error-desktop;
        font-weight: $bold-font-weight;
        color: $secondary-color;
        @include dimension($width: 198px, $height: 99px);
        margin-top: 70px;

        @media screen and (max-width: 1024px) {
            font-size: $f2-size-error-desktop;
            @include dimension($width: 597px, $height: 263px);

        }
    }

    &__text {
        text-align: center;
        font-size: $f3-font-size;
        font-weight: $medium-font-weight;
        color: $secondary-color;
    }

    &__link {
        text-decoration: underline;
        font-size: $f4-font-size;
        font-weight: $medium-font-weight;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 1024px) {

            font-size: $f7-font-size;
        }

    }
}