.error {

    @include flex-align($align: center);
    flex-direction: column;
    gap: $gap2;
    text-align: center;
    margin: 100px auto;
    padding: 40px;


    @media screen and (max-width: 1024px) {
        gap: 113px;
        margin: 36px auto;
    }

    &__title {
        font-size: 145px;
        font-weight: $bold-font-weight;
        color: $secondary-color;
        @include dimension($width: 198px, $height: 99px);
        margin-top: 70px;

        @media screen and (max-width: 1024px) {
            font-size: 210px;

            @include dimension($width: 597px, $height: 263px);

        }
    }

    &__text {
        text-align: center;
        font-size: 32px;
        font-weight: $medium-font-weight;
        color: $secondary-color;
    }

    &__link {
        text-decoration: underline;
        font-size: 30px;
        font-weight: $medium-font-weight;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 1024px) {

            font-size: 19px;
        }

    }
}