.login__nav {
    //  height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;


    &--link {
        margin: 3rem;

        img {
            border-radius: 15px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
            width: 150px;
        }

        p {
            // color: #E60000;
            text-align: center;
            margin-top: 0.5rem;
            font-weight: 500;
        }

        &:hover {
            transform: scale(1.025);
        }

    }

}