.login__nav {
    @include flex-d($justify: center, $direction: row);
    align-items: center;
    position: fixed;
    inset: 0;
    padding-left: 110px;



    &--link {
        margin: 48px;

        img {
            border-radius: $main-radius;
            box-shadow: $graph-box-shadow;
            width: 150px;
        }

        p {

            text-align: center;
            margin-top: 8px;
            font-weight: $medium-font-weight;
        }

        &:hover {
            transform: scale(1.025);
        }

    }

}