.dashborad {

    margin: 40px auto;
    padding: 0 5%;
    width: 85%;

    @media (max-width: 1024px) {
        margin: 20px auto;
        padding: 0 4%;
        width: 95%;
    }

    &__bloc {
        &--title {

            margin-bottom: 40px;

            h1 {
                font-size: $f1-font-size;
                font-weight: $medium-font-weight;
                margin: 0.67em 0;

                @media (max-width: 1024px) {
                    font-size: $f2-font-size;
                    margin: 0.45em 0;
                }
            }

            span {
                color: $primary-color;
            }

            p {
                font-size: $f8-font-size;
                margin: 20px 0 0 0;
            }

        }

        &--userInfo {
            display: flex;
            gap: $gap3;
            width: 100%;
            margin-top: 70px;
            margin-bottom: 50px;

            @media (max-width: 1024px) {
                margin-top: 42px;
            }


            .graph {
                display: flex;
                flex-wrap: wrap;
                gap: $gap3;
                @include dimension($width: 67%, $height: 100%);

                &__activity {
                    background-color: $backgroundLight;
                    border-radius: $ter-radius;
                    @include dimension($width: 100%, $height: 50%);
                    box-shadow: $graph-box-shadow;
                }

                &__sub-activity {
                    @include flex-justify($justify: space-between);
                    @include dimension($width: 100%, $height: 50%);
                    gap: $gap4;
                }
            }

            .nutriment {
                max-width: 258px;
                width: 25%;
            }
        }
    }

}