.barChart {

    position: relative;
    border-radius: 5px;
    background-color: #F7F7F7;
    width: 100%;
    height: 320px;
}

.LegendBox {

    position: absolute;
    top: 30px;
    width: 95%;
    margin: 0;
    display: flex;
    justify-content: space-between;

    h3 {
        display: inline;
        margin-left: 32px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 15px;
    }

    ul {
        li {
            margin-left: 30px;
            display: inline;
            font-size: 14px;
            font-weight: 500;
            color: #74798C;

            div {
                margin-right: 5px;
                display: inline-block;
                background-color: #282d30;
                height: 10px;
                width: 10px;
                border-radius: 50%;
            }
        }

        li:nth-child(2) div {
            background-color: $primary-color;
        }
    }
}


.TooltipBox {
    transform: translateX(30px);
    width: 45px;
    height: 80px;
    line-height: 30px;
    text-align: center;
    background: #E60000;

    p {
        color: $white;
        font-size: 10px;
        font-weight: 500;
    }

}