.barChart {

    position: relative;
    height: 320px;

}

.LegendBox {
    position: absolute;
    top: 30px;
    width: 95%;
    margin: 0;
    @include flex-justify($justify: space-between);



    h3 {
        display: inline;
        margin-left: 32px;
        margin-top: 20px;
        font-weight: $medium-font-weight;
        font-size: $f10-font-size;
    }

    ul {
        li {
            margin-left: 30px;
            display: inline;
            font-size: $f11-font-size;
            font-weight: $medium-font-weight;
            color: $grey;

            div {
                margin-right: 5px;
                display: inline-block;
                background-color: $lightDark;
                @include dimension($width: 10px, $height: 10px);
                border-radius: 50%;
            }
        }

        li:nth-child(2) div {
            background-color: $primary-color;
        }
    }
}


.TooltipBox {

    @include dimension($width: 45px, $height: 80px);
    line-height: 30px;
    text-align: center;
    background-color: $tertiary-color;

    p {
        color: $white;
        font-size: $f13-font-size;
        font-weight: $medium-font-weight;
    }

}