.containerAverage {
    @include dimension($width: 31%, $height: 100%);
    background-color: $secondary-color;
    border-radius: $ter-radius;
    box-shadow: $graph-box-shadow;
}

.titleAvrerage {
    position: absolute;
    margin-left: 34px;
    margin-top: 29px;
    font-size: $f10-font-size;
    font-weight: $medium-font-weight;
    line-height: 24px;
    max-width: 147px;
    opacity: 0.504;
    color: $white;
    width: 66%;
}


.TooltipBoxAverage {
    background-color: $white;
    color: $black;
    padding: 1px 7px;
    @include dimension($width: 55px, $height: 35px);

    p {
        font-size: $f12-font-size;
        font-weight: $medium-font-weight;
        line-height: 24px;
        margin: 0;
    }
}