.header-wrapper {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 90px;
    background-color: #020203;
    color: white;

    @media (max-width: 1320px) {
        height: 68px;


    }

    &__logo {

        margin: 0 40px 0 28px;

        @media (max-width: 1320px) {
            margin-left: 8px;
        }
    }

    nav {
        width: 100%;


        ul {

            font-size: 1.5rem;
            margin-right: 13%;
            margin-right: 5%;
            display: flex;
            justify-content: space-around;
            width: 80%;

            @media (max-width: 1320px) {
                font-size: 1.2rem;
            }

            a {
                color: white;
            }
        }
    }


}