.header-wrapper {
    @include flex-align($align: center);
    box-shadow: $menu-box-shadow;
    height: 90px;
    background-color: $backgroundDark;
    color: $white;

    @media (max-width: 1024px) {
        height: 70px;

    }

    &__logo {

        margin: 0 40px 0 28px;

        @media (max-width: 1024px) {
            margin-left: 8px;
            margin-top: 6px;
        }
    }

    nav {
        width: 100%;

        ul {
            @include flex-justify($justify: space-around);
            font-size: $f6-font-size;
            margin-right: 5%;
            width: 80%;

            @media (max-width: 1024px) {
                font-size: $f7-font-size;
            }

            a {
                color: $white;
            }
        }
    }


}