.KeydataContainer {

    /* margin: 0 auto;
   
    gap: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    img {
        width: 45px;
        height: 45px;
    }

    /*
    @media (max-width: 1240px) {
        width: 100%;
        flex-direction: row;
        margin-bottom: 8px;
        justify-content: space-between;

        img {
            width: 45px;
            height: 45px;
        }
    }
*/
    @media (max-width: 943px) {
        flex-wrap: wrap;
    }

    @media (max-width: 660px) {
        justify-content: space-around;
    }
}