.NutritionCard {
    @include flex-align($align: center);
    border-radius: $ter-radius;
    padding: 0 32px;
    @include dimension($width: 258px, $height: 19%);
    background-color: $backgroundLight;
    box-shadow: $graph-box-shadow;

    &__infos {
        margin-left: 24px;

        p {
            font-size: $f7-font-size;
            font-weight: $bold-font-weight;
            margin-bottom: 7px;
            color: $lightDark;
        }

        span {
            color: $grey;
            font-size: $f11-font-size;
            font-weight: $medium-font-weight;

        }
    }


}