.performanceGraph {
    @include dimension($width: 31%, $height: 100%);
    background-color: $lightDark;
    border-radius: $ter-radius;
    box-shadow: $graph-box-shadow;

    @media (max-width: 1024px) {
        &__kindPerf {
            font-size: $f13-font-size;
        }
    }



}