.scoreGraph {
    position: relative;
    @include dimension($width: 31%, $height: 100%);
    background-color: $backgroundLight;
    border-radius: $ter-radius;
    box-shadow: $graph-box-shadow;

    &__title {
        position: absolute;
        top: 12px;
        left: 21px;
        line-height: 24px;
        font-size: $f10-font-size;
        font-weight: $medium-font-weight;
        color: $lightBlack;

        @media screen and (max-width: 1285px) {
            font-size: $f12-font-size;
            top: 8px;
            left: 11px
        }
    }
}


.scorePercent {
    font-size: $f5-font-size;
    font-weight: $bold-font-weight;
    color: $lightDark;
    line-height: 26px;
    text-align: center;
}

.scoreText {
    font-size: $f9-font-size;
    font-weight: $medium-font-weight;
    line-height: 26px;
    text-align: center;

}