.sidebar {

    background-color: $backgroundDark;
    width: 110px;
    min-height: calc(100dvh - 90px);
    box-shadow: $menu-box-shadow;
    flex-direction: column;
    @include flex-align($align: center);

    @media (max-width: 1320px) {
        min-height: calc(100dvh - 70px);

    }

    &__nav {

        margin-bottom: 227px;

        @media (max-width: 1320px) {

            margin-bottom: 210px;
        }




        &-ul {

            margin: 260px 0 0;
            @include flex-d($justify: space-between, $direction: column);
            align-items: center;
            @include dimension($width: 64px, $height: 316px);

            @media (max-width: 1320px) {

                margin: 188px 0 0;
                @include dimension($width: 40px, $height: 280px);

            }

            li {
                background-color: $white;
                border-radius: $sec-radius;
                @include flex($justify: center, $align: center);
                @include dimension($width: 100%, $height: 64px);

                @media (max-width: 1320px) {
                    background-color: white;
                    @include dimension($width: 100%, $height: 40px);


                }
            }
        }

    }


    &__copyright {

        color: $white;
        font-size: $f12-font-size;
        font-weight: $medium-font-weight;
        transform: rotate(-90deg) translateX(0%);
        width: 150px;
        font-style: normal;

        @media (max-width: 1320px) {

            transform: rotate(-90deg) translateX(50%);

        }

    }


}