.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    // width: 7.3125rem;
    width: 117px;
    height: 100%;
    overflow: hidden;
    background: $backgroundDark;
    text-align: center;

    &__icon {
        margin: 0;
    }


    &__copyright {
        position: absolute;
        bottom: 128px;
        left: -8%;
        width: max-content;
        margin: 0;
        transform: rotate(-90deg);
        color: $white;

        font-weight: 500;
        font-size: 12px;


        @media screen and (min-width: 1024px) {
            position: absolute;
            bottom: 76px;
            left: 3%;
            font-weight: 400;
            font-size: 10px;

        }


    }
}