.sidebar {

    &__icon-img {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
        border: none;
        border-radius: 6px;
        background-color: $white;

        &-logo {
            width: 32px;
            height: 32px;
        }
    }

}